.imagen-juego{
  border: none;
  margin: 1rem;
}

.margin-top{
  margin: 1rem;
}

.component-center{
  display: grid;
  justify-content: center;
  margin: 1rem;
}

.jugadas{
  display: inline-grid;
  margin: 1rem;
}

.elections-center{  
  display: flex;
  justify-content: center;
  margin: 1rem;
}